.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}
.fade-exit {
  transform: translateX(0);
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
